h1{
    text-align: center;
    color: whitesmoke;
   }
main{
    border: 1px solid black;
    background-color: black;
}
.placar{
    color: white;
}

.casa{
    border: 1px solid white;
    width: 150px;
    height: 150px;
    font-size: 80px;
    color:  white;
    text-align: center;
    line-height: 150px;
}
.linha{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}
body{
    display: flex;
    justify-content: center;
    background-color: black;
}
button{
    border-radius: 20px;
    background-color: white;
}